/* Add here all your CSS customizations */

body {
    font-family: "Arial", "Tahoma"
}

#revolutionSlider {
    font-family: "Open Sans", "Arial", "sans-serif"
}

/*Features list Page*/
.img-thumbnail {
 
background-color: transparent;
 
}

 .more-height
    {
        /*margin: 25px 0px;*/
        margin:  0px;
     
    }
 section.featured {
 
 margin:  0px; 
 margin-bottom: 20px;
     margin-top: 20px;
}

 .myFaq {
     font-weight: bold;
     text-decoration: underline;
    }
 
/* Price Page*/
        .price-head > div {
            display: inline-block;
        }
        .price-head p {
            text-align: center;
            font-size: 36px;
            color: black;
            text-shadow: 1px 1px 1px #ccc;
        }
        .price-head span {
            text-align: center;
            margin-top: -15px;
            color: #aaa;
            display: block;
            padding-left: 30px
        }
        .price-head a {
            text-align: center;
          
        }

        .centered
        {
            text-align: center;
            margin-top: 10px;
            padding-left: 20px
        }

          
         table thead tr td ,
        table tbody tr td  {
            text-align: center
        }

        table thead tr td:first-child,
        table tbody tr td:first-child {
            text-align: left;
            padding-left: 35px;
               
        }
        
        table td.features-group-title {
            font-size: 1.3em;
            font-weight: bold;
            color: rgb(0, 0, 0);
            padding-left: 10px !important;
                line-height: 60px;
                background-color: #fc9e30 !important
        }

        table td i {
            font-size: 20px;
        }


/*top nav*/
  header nav ul.nav-top li a, header nav ul.nav-top li span {
color: #777;
font-size: 0.9em;
padding: 6px 10px;
}

   ul.list li {
        margin-bottom: 5px;
    }


/*FAQ PAGE*/

.faq-niceloop h4 {
           margin: 0px 0px 0px 5px;
            
          background-color: #f7931e;
            color: rgb(0, 0, 0);
            padding: 5px 10px;
       }

    .faq-niceloop p.question {
           margin: 25px 0px 0px 35px;
        font-weight: bold;
       }
   .faq-niceloop p.answer {
       margin: 0px 0px 0px 35px;
       line-height: 20px;
   }

   .faq-niceloop p.question i {
       padding-right: 12px;
       color: #f7931e;
   }
   .faq-niceloop p.answer i {
       padding-right: 8px;
        color: #f7931e;
   }


     
        .ver-inline-menu
        {
            border-left: solid 2px #f7931e;
        }

        .ver-inline-menu
        {
            padding: 0;
            margin: 0;
            list-style: none;
            border-left: solid 2px #f7931e;
        }

        .margin-bottom-10
        {
            margin-bottom: 10px !important;
        }



        .ver-inline-menu li
        {
            position: relative;
            margin-bottom: 1px;
        }

            .ver-inline-menu li.active a
            {
                background: #f7931e;
            }

            .ver-inline-menu li:hover a
            {
                background: #f7931e;
            }

            .ver-inline-menu li.active a
            {
                color: #000;
                background: #f7931e;
                text-decoration: none;
            }

            .ver-inline-menu li:hover a
            {
                background: #f7931e;
                text-decoration: none;
                color: #000;
            }

            .ver-inline-menu li a
            {
                font-size: 14px;
                color: #7C858E;
                display: block;
                background: #F4F4F4;
                padding: 12px 10px 11px 8px;
            }


        .ver-inline-menu
        {
            padding: 0;
            margin: 0;
            list-style: none;
            border-left: solid 2px #f7931e;
        }

            .ver-inline-menu li.active:after
            {
                content: '';
                display: inline-block;
                border-bottom: 6px solid transparent;
                border-top: 6px solid transparent;
                border-left: 6px solid #f7931e;
                position: absolute;
                top: 16px;
                right: -5px;
            }

        .affix-top
        {
        }

        .affix
        {
            position: fixed;
            top: 100px;
        }
   

/* »ØèÁàÅ×èÍ¹ä»º¹ÊØ´ ËèÒ§ 200 à¾ÃÒÐ zopim chat*/
        a.scroll-to-top {
 right: 200px;
            display: none;
 }